<div class="navbar-lewagon d-flex justify-content-between align-items-center">
  <h1>Add a cocktail</h1>
  <%= link_to "All cocktails", cocktails_path, class: "btn btn-outline-secondary" %>
</div>

<div class="background text-center pt-5">
  <div class="form-control-plaintext mt-5">
    <%= simple_form_for (@cocktail) do |f| %>
    <%= f.label :name, class: "text-white" %>
    <%= f.text_field :name %>
    <%= f.submit "Add cocktail" %>
    <% end %>
  </div>
</div>

